        /* estilo para o corpo da página */
        body {
            font-family: Arial, sans-serif; /* define a fonte utilizada */
            background-image:url(/assets/Black\ Yellow\ Space\ Modern\ Space\ Galaxy\ Star\ Trivia\ Quiz\ Animated\ Game\ Presentation.png); /* define a cor de fundo do corpo da página */
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0; /* remove margens externas */
            padding: 0; /* remove preenchimento externo */
        }
        

        .titulo img{
            width: 300px;
        }
        
        /* estilo para o contêiner principal */
        #container {
            width: 80%; /* define a largura do contêiner */
            margin: 50px auto; /* centraliza o contêiner horizontalmente */
            text-align: center; /* alinha o conteúdo ao centro */
        }
        
        /* estilo para o cabeçalho */
        h1 {
            color: #1F2A44; /* define a cor do texto do cabeçalho */
        }
        
        /* estilo para a entrada de texto */
        input[type="text"] {
            padding: 8px; /* define o preenchimento interno */
            font-size: 16px; /* define o tamanho da fonte */
            border-radius: 5px; /* define o raio das bordas */
            color: gold;
            background-color: rgba(0, 0, 0, 0);
            border: solid gold;
        }
        
        /* estilo para seleção e botão */
        select,
        button{
            padding: 8px; /* define o preenchimento interno */
            font-size: 16px; /* define o tamanho da fonte */
            border-radius: 5px; /* define o raio das bordas */
            cursor: pointer; /* altera o cursor ao passar por cima */
            background-color: rgba(0, 0, 0, 0);
            color: gold;
            border: solid gold;
        }
        .opt {
            border: solid gold;
            background-color:black;
        }
        
        /* estilo para o botão */
        button {
            background-color: rgba(0, 0, 0, 0);
            color: gold;
            background-color: rgba(0, 0, 0, 0);
            border: solid gold;
        }

        /* estilo para o botão ao passar o mouse por cima */
        button:hover {
            background-color: gold; /* altera a cor de fundo ao passar o mouse */
            color: black;
        }

        /* estilo para a saída de resultados */
        #output {
            margin-top: 20px; /* define a margem superior */
            padding: 10px; /* define o preenchimento interno */
            border-radius: 5px; /* define o raio das bordas */
            background-color: rgba(0, 0, 0, 0); /* define a cor de fundo */
            border: 3px solid gold; /* define a borda */
            color: gold;
            text-align: left; /* alinha o texto à esquerda */
            display: none; /* inicialmente oculta a saída */

        
        }

        h3{
          color: gold
        }

        label{
            color: gold
        }

